{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}

{% form_theme edit_form 'BerkmanSlideshowBundle:Form:images.html.twig' %}
{% block body %}
<h2>Edit Slideshow</h2>

<div class="centered lightWrap">
<form id="edit" action="{{ path('slideshow_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Update</button>
    </p>
</form>
</div>
<ul class="record_actions">
    <li>
        <a href="{{ path('slideshow') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('slideshow_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts 'js/jquery.isotope.min.js'
				'js/jquery-ui-1.8.14.custom.min.js'%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
$(function() {
	$( "#slideshow_slides" ).sortable({
		placeholder: 'placeholder',
		start: function(event, ui) {
			ui.placeholder.css({
				height: ui.item.outerHeight(),
				width: ui.item.outerWidth()
			});
		}
	});
	$( "#slideshow_slides" ).disableSelection();
	$('#edit').submit(function() {
		alert($('#slides').sortable('serialize'));
	});
});
</script>
{% endblock %}
