{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}

{% block body %}
<h2>Import Images</h2>
<div class="centered lightWrap">
    <h3>Instructions</h3>
    <p>
        Upload a CSV document with formats as follows:
    </p>
    {% for repo in repos %}
    <p>
        For the {{ repo.name }} repository:<br />
        "{{ repo.id }}",{{ repo.importFormat }}
    </p>
    {% endfor %}
	<form id="import" action="{{ path('slideshow_import') }}" method="post" {{ form_enctype(import_form) }}>
		{{ form_widget(import_form) }}
        <button type="submit">Import</button>
	</form>
</div>
{% endblock %}
