<h3>Spectacle Importer</h3>
<div class="indented">
    <h4>Instructions</h4>
    <div class="indented">
        <p>
            Upload a CSV document with a line for each image, with each line having one of these formats:
        </p>
        <ul>
        {% for catalog in finder.catalogs %}
            <li>
                For images from the {{ catalog.name }} catalog:<br />
                "{{ catalog.id }}",{{ catalog.importFormat }}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
<form action="{{ path('slideshow_import') }}" method="post" {{ form_enctype(masterImportForm) }}>
    <div class="import-form">
        {{ form_widget(masterImportForm) }}
        <input type="submit" value="Import" />
    </div>
</form>

<h3>Catalog Importers</h3>
<ul class="indented">
{# {% for catalog_id, import_form in import_forms %}     
    {% for catalog in catalogs %}
        {% if catalog.id == catalog_id %}
        <li>
        <h4>{{ catalog.name }}</h4>
        <div class="indented">
            <h5>Instructions</h5>
            <p class="indented">
                {{ catalog.importInstructions }}
            </p>

        </div>
#} 
        <form action="{{ path('catalog_import', { 'id': 'VIA' }) }}" method="post" {{ form_enctype(customImportForm) }}>
            <div class="import-form">
            {{ form_widget(customImportForm) }}
            <input type="submit" value="Import" />
        </form>
        </li>
       {# {% endif %} 
    {% endfor %}
{% endfor %} #}
</ul>
