<h3>Spectacle Importer</h3>
<div class="indented">
    <h4>Instructions</h4>
    <div class="indented">
        <p>
            Upload a CSV document with a line for each image, with each line having one of these formats:
        </p>
        <ul>
        {% for catalog in finder.catalogs %}
            <li>
                For images from the {{ catalog.name }} catalog:<br />
                "{{ catalog.id }}",{{ catalog.importFormat }}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
<form action="{{ path('finder_master_import') }}" method="post" {{ form_enctype(masterImportForm) }}>
    <div class="import-form">
        {{ form_widget(masterImportForm) }}
        <input type="submit" value="Import" />
    </div>
</form>

<h3>Catalog Importers</h3>
<form action="{{ path('finder_custom_import') }}" method="post" {{ form_enctype(masterImportForm) }}>
<ul class="indented">
{% for child in customImportForm if child.vars.type is defined and child.vars.type == 'file' %}     
    {% set catalog = finder.getCatalog(child.vars.name) %}
        <li>
        <h4>{{ catalog.id }}</h4>
        <div class="indented">
            <h5>Instructions</h5>
            <p class="indented">
                {{ catalog.importInstructions }}
            </p>
        </div>
        {{ form_widget(child) }}
        </li>
{% endfor %}
</ul>
{{ form_rest(customImportForm) }}
<input type="submit" value="Import" />
</form>
