{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}

{% block body %}
<h2>{{ entity.name }} by {{ entity.person.username }}</h2>
<div class="lightWrap">
	<div id="slideshow_tools">
		<a class="buttoned" href="{{ path('slideshow_slideshow', { 'id': entity.id }) }}">Start Slideshow</a>
		{% if app.user and app.user.id == entity.person.id %}
		<a class="buttoned" href="{{ path('slideshow_edit', { 'id': entity.id }) }}">Edit</a>
		<form action="{{ path('slideshow_delete', { 'id': entity.id }) }}" method="post">
			{{ form_widget(delete_form) }}
			<button type="submit">Delete</button>
		</form>
		{% endif %}
		<div>
			<span>Copy this code to embed this slideshow:</span>
			<textarea id="embed_code" readonly="readonly">
	{{- '<iframe src="' ~ url('slideshow_slideshow', { 'id' : entity.id }) ~ '" width="400" height="300" frameborder="0"></iframe>' -}} 
			</textarea>
		</div>
	</div>
	<ol id="show_slideshow_slides" class="centered">
		{% for slide in entity.slides %}
			<li>
				<a href="{{ slide.image.recordUrl }}" target="_blank"><img src="{{ slide.image.thumbnailUrl }}"/></a>
				<dl class="metadata">
					{% for key,value in slide.image.metadata %}
					<dt>{{ key }}</dt><dd>{{ value }}</dd>
					{% endfor %}
				</dl>
			</li>
		{% endfor %}
	</ol>
</div>
{% endblock %}

