{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}

{% block body %}
<h1>Slideshow</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Name</th>                <td>{{ entity.name }}</td>        </tr>
        <tr>
            <th>Slide_delay</th>                <td>{{ entity.slidedelay }}</td>        </tr>
        <tr>
            <th>Display_info</th>                <td>{{ entity.displayinfo }}</td>        </tr>
    </tbody>
</table>

<ul>
	{% for slide in entity.slides %}
		<li><img src="{{ slide.image.imageUrl }}"/></li>
	{% endfor %}
</ul>

<ul class="record_actions">
    <li>
        <a href="{{ path('slideshow') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('slideshow_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('slideshow_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}

