{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}

{% block body %}
<h2>{{ entity.name }} by {{ entity.person.username }}</h2>
<a href="{{ path('slideshow_slideshow', { 'id': entity.id }) }}">
	Start Slideshow
</a>
<div class="lightWrap">
	<h3></h3>

	<ol id="show_slideshow_slides" class="centered">
		{% for slide in entity.slides %}
			<li>
				<a href="{{ slide.image.recordUrl }}" target="_blank"><img src="{{ slide.image.thumbnailUrl }}"/></a>
				<dl class="metadata">
					{% for key,value in slide.image.metadata %}
					<dt>{{ key }}</dt><dd>{{ value }}</dd>
					{% endfor %}
				</dl>
			</li>
		{% endfor %}
	</ol>

	<ul class="record_actions">
		<li>
		<li>
		{% if app.user and app.user.id == entity.person.id %}
		<li>
			<a href="{{ path('slideshow_edit', { 'id': entity.id }) }}">
				Edit
			</a>
		</li>
		<li>
			<form action="{{ path('slideshow_delete', { 'id': entity.id }) }}" method="post">
				{{ form_widget(delete_form) }}
				<button type="submit">Delete</button>
			</form>
		</li>
		{% endif %}
	</ul>
</div>
{% endblock %}

