<!DOCTYPE html>
<html>
	<head>
		<title>{{ slideshow.name }}</title>
		{% stylesheets '@BerkmanSlideshowBundle/Resources/public/css/slideshow.css' %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
		{% endstylesheets %}
		<link href='http://fonts.googleapis.com/css?family=Lato:400,900&v2' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<ul id="slides">
			{% for slide in slideshow.slides %}
				<li class="slide">
					<img src="{{ slide.image.imageUrl }}"/>
					<div class="slideInfo">
						<dl class="metadata">
							{% for key,value in slide.image.metadata %}
							<dt>{{ key }}:</dt><dd>{{ value }}</dd><br />
							{% endfor %}
						</dl>
						<a class="record" href="{{ slide.image.recordUrl }}" target="_blank">Go to this record</a>
					</div>
				</li>
			{% endfor %}
		</ul>

	{% javascripts 'js/jquery-1.6.2.js'	
					'@BerkmanSlideshowBundle/Resources/public/js/jquery.cycle.all.js'
					'@BerkmanSlideshowBundle/Resources/public/js/slideshow.js'
	%}
	<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
	</body>
</html>
