<div class="page">
<h2>User Profile</h2>
    <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>

	<a class="buttoned" href="{{ path('fos_user_profile_edit') }}">Edit Profile</a>
</div>
