<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
		{% block stylesheets %}
		{% stylesheets  'css/reset.css'
                        'css/jquery-ui-1.8.16.custom.css'
                        'css/style.css' %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
		{% endstylesheets %}
		{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|Forum' rel='stylesheet' type='text/css'>
		{% block javascripts %}
        {% javascripts 'js/jquery-1.6.2.js'
                       'js/jquery-ui-1.8.16.custom.min.js'
                       'js/jquery.dotdotdot-1.2.3.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% endblock %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-26423774-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
		<div id="wrapper">
			<div id="header">
                <div id="branding">
                    {% image 'images/spectacle-logo.png' %}
                    <div id="logo-image">
                        <img src="{{ asset_url }}" title="Spectacle" width="46" height="46" />
                    </div>
                    {% endimage %}
                    <div id="logo-text">
                        <h1><a id="home-link" href="{{ path('BerkmanSlideshowBundle_homepage') }}">SPECTACLE</a></h1>
                        <div id="tagline">A SLIDESHOW MACHINE FOR HARVARD LIBRARY IMAGES</div>
                    </div>
                </div>

				<div id="utility">
                {% block utility %}
                    {% if app.session and app.session.get('finder') and app.session.get('finder').selectedImageResults|length > 0 %}
                        {% set display = "" %}
                        {% set count = app.session.get('finder').selectedImageResults|length %}
                    {% else %}
                        {% set display = "display:none;" %}
                        {% set count = 0 %}
                    {% endif %}
                    <span id="image-cart" style="{{ display }}">
                        <a href="{{ path('slideshow_add_images') }}"><span id="image-count">{{ count }}</span> images</a> &mdash;
                    </span>

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_profile_show') }}">My Profile</a> |
                        <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> |
                        <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                    | <a href="{{ path('BerkmanSlideshowBundle_faqs') }}">FAQ</a>
                {% endblock utility %}
                </div>
			</div>
			
			{% if app.session and app.session.flashes is not empty %}
                {% for flashType, flash in app.session.flashes %}
                    <div class="flash {{ flashType }}">
                        {{ flash|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
			{% endif %}

			{% block body %}{% endblock %}

			{% block footer %}
                <div id="footer">
                    &copy; 2011 - Presidents and Fellows of Harvard College - <a href="{{ path('BerkmanSlideshowBundle_feedback') }}">Feedback</a>
                </div>
			{% endblock %}
		</div>
    </body>
</html>
