<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
		<link href='http://fonts.googleapis.com/css?family=Cardo&v2' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,900&v2' rel='stylesheet' type='text/css'>
		{% block stylesheets %}
		{% stylesheets  'css/reset.css'
						'css/style.css' %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
		{% endstylesheets %}
		{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div id="wrapper">
			<div id="header">
				<h1>Slideshow Generator</h1>
				<div id="utility">
					{% block utility %}
					{% include 'FOSUserBundle::layout.html.twig' %}
					{% endblock %}
				</div>
			</div>
			{% for flashType, flash in app.session.getFlashes() %}
			<div class="flash {{ flashType }}">
				{{ flash }}
			</div>
			{% endfor %}
			{% block body %}{% endblock %}
			<a href="{{ path('BerkmanSlideshowBundle_homepage') }}">Home</a>
			{% block footer %}
			<div id="footer">
				&copy; 2011 - Presidents and Fellows of Harvard College
			</div>
			{% endblock %}
		</div>
		{% block javascripts %}
		{% javascripts 'js/jquery-1.6.2.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% endblock %}
    </body>
</html>
