{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}

{% block body %}
{% form_theme form 'BerkmanSlideshowBundle:Form:images.html.twig' %}
<h1>Images ({{ numResults }})</h1>

<form action="{{ path('slideshow_add_images') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Finish</button>
    </p>
</form> 

<ul class="record_actions">
    <li>
        <a href="{{ path('find') }}">Back to the list</a>
    </li>
</ul>
{% endblock %}

