{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}

{% block body %}
<h2>Edit {{ entity.id }}</h2>

<div class="lightWrap">
<form action="{{ path('catalog_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('catalog') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('catalog_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</div>
{% endblock %}
