{% macro show_images(images, list_type, list_id, checkbox_text, container_id) %}
    <div id="{{ container_id|default('block-container') }}" class="block-container fancy-scroll">
        <{{ list_type|default('ul') }} id="{{ list_id|default('images-list') }}" class="images">
            {% for image in images %}
                <li>
                    <div class="image-and-buttons">
                        <div class="image"><img src="{{ image.thumbnailUrl }}" alt="{{ image.altText }}" /></div>
                        <div class="buttons">
                            {% if checkbox_text is not empty %}
                            <label for="image_{{ image.id }}">{{ checkbox_text }}</label>
                            <input type="checkbox" name="images[{{ image.id }}]" id="image_{{ image.id }}" value="{{ image.id }}"/>
                            {% endif %}
                            <div class="record-link"><a href="{{ image.recordUrl }}" target="_blank">View Record</a></div>
                        </div>
                    </div>
                    <dl class="metadata">
                        {% for key,value in image.metadata %}
                        <dt>{{ key }}</dt><dd>{{ value }}</dd>
                        {% endfor %}
                    </dl>
                </li>
            {% endfor %}
        </{{ list_type|default('ul') }}>
    </div>
{% endmacro %}

{% macro show_imageGroups(imageGroups, list_type, list_id, checkbox_text, container_id) %}
    <div id="{{ container_id|default('block-container') }}" class="block-container fancy-scroll">
        <{{ list_type|default('ul') }} id="{{ list_id|default('image-groups-list') }}" class="image-groups">
        {% for imageGroup in imageGroups %}
            <li>
                <div class="image-and-buttons">
                    <div class="image"><img src="{{ imageGroup.cover.thumbnailUrl }}" /></div>
                    <div class="buttons">
                        {% if checkbox_text is not empty %}
                        <label for="imageGroup_{{ imageGroup.id }}">{{ checkbox_text }}</label>
                        <input type="checkbox" name="imageGroups[{{ imageGroup.id }}]" id="imageGroup_{{ imageGroup.id }}" value="{{ imageGroup.id }}"/>
                        {% endif %}
                        <div class="record-link">
                            <button type="submit" name="action" value="{{ imageGroup.id }}">View Group</button>
                        </div>
                    </div>
                </div>
                <dl class="metadata">
                    {% for key,value in imageGroup.metadata %}
                    <dt>{{ key }}</dt><dd>{{ value }}</dd>
                    {% endfor %}
                    <dt>Contents</dt>
                    <dd>
                        {% set numImages = imageGroup.images|length %}
                        {% set numImageGroups = imageGroup.children|length %} 
                        {% if numImages > 0 %}
                            {{ numImages }} images
                        {% endif %}
                        {% if numImages > 0 and numImageGroups > 0 %}
                            and
                        {% endif %}
                        {% if numImageGroups > 0 %}
                            {{ numImageGroups }} imageGroups
                        {% endif %}
                    </dd>
                </dl>
            </li>
        {% endfor %}
        </{{ list_type|default('ul') }}>
    </div>
{% endmacro %}
