{% macro show_images(images, id, container_id, checkbox_text) %}
    {% if container_id is not empty %}
    <div id="{{ container_id }}">
    {% endif %}
    <ol id="{{ id|default('show_images') }}" class="centered image-block">
        {% for image in images %}
            <li>
                <a href="{{ image.recordUrl }}" target="_blank"><img src="{{ image.thumbnailUrl }}"/></a>
                <dl class="metadata">
                    {% for key,value in image.metadata %}
                    <dt>{{ key }}</dt><dd>{{ value }}</dd>
                    {% endfor %}
                </dl>

                {% if checkbox_text is not empty %}
                <div class="image-buttons">
                    <label for="image_{{ image.id }}">{{ checkbox_text }}</label>
                    <input type="checkbox" name="images[{{ image.id }}]" id="image_{{ image.id }}" value="{{ image.id }}"/>
                </div>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
    {% if container_id is not empty %}
    </div>
    {% endif %}

{% endmacro %}

{% macro show_imageGroups(imageGroups, id, container_id, checkbox_text) %}
    {% if container_id is not empty %}
    <div id="{{ container_id }}">
    {% endif %}
    <ol id="{{ id|default('show_imageGroups') }}" class="centered image-block">
        {% for imageGroup in imageGroups %}
            <li>
                <a href="{{ path('finder_imageGroup', { 'imageGroupId': imageGroup.id }) }}">
                    <img src="{{ imageGroup.cover.thumbnailUrl }}"/>
                </a>
                <dl class="metadata">
                    {% for key,value in imageGroup.metadata %}
                    <dt>{{ key }}</dt><dd>{{ value }}</dd>
                    {% endfor %}
                    <dt>Contents</dt>
                    <dd>
                        {% set numImages = imageGroup.images|length %}
                        {% set numImageGroups = imageGroup.children|length %} 
                        {% if numImages > 0 %}
                            {{ numImages }} images
                        {% endif %}
                        {% if numImages > 0 and numImageGroups > 0 %}
                            and
                        {% endif %}
                        {% if numImageGroups > 0 %}
                            {{ numImageGroups }} imageGroups
                        {% endif %}
                    </dd>
                </dl>
                {% if checkbox_text is defined %}
                <div class="imageGroup-buttons">
                    <label for="imageGroup_{{ imageGroup.id }}">{{ checkbox_text }}</label>
                    <input type="checkbox" name="imageGroups[{{ imageGroup.id }}]" id="imageGroup_{{ imageGroup.id }}" value="{{ imageGroup.id }}"/>
                </div>
                {% endif %}
                <button type="submit" name="action" value="{{ imageGroup.id }}">View Image Group</button>
            </li>
        {% endfor %}
    </ol>
    {% if container_id is not empty %}
    </div>
    {% endif %}
{% endmacro %}
