{% block _slideshow_slides_row %}
{% spaceless %}
        <h3>Images</h3>
        <ol {{ block('widget_container_attributes') }}>
        {% for child in form %}
			<li class="image">
            {{ form_widget(child) }}
            {{ image_label(child) }}
			</li>
        {% endfor %}
        </ol>
{% endspaceless %}
{% endblock _slideshow_slides_row %}

{% block _finderresults_imageCollections_row %}
{% spaceless %}
        <h3>Image Collections</h3>
        <ol {{ block('widget_container_attributes') }}>
        {% for child in form %}
            <li>
                <input type="image" name="action" value="{{ child.vars.value }}" src="{{ child.vars.label }}"/>
            </li>
        {% endfor %}
        </ol>
{% endspaceless %}
{% endblock _finderresults_imageCollections_row %}

{% block _finderresults_images_row %}
{% spaceless %}
	{{ block('_slideshow_slides_row') }}
{% endspaceless %}
{% endblock _finderresults_images_row %}
