{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}

{% block body %}
<div>
	<h2>Find Images or <a href="{{ path('slideshow_import') }}">Retrieve Images</a></h2>
	<div id="finder" class="centered lightWrap">
	{% include 'BerkmanSlideshowBundle:Finder:finder.html.twig' %}
	</div>
</div>
{% if slideshows is not empty %}
<div>
	<h2>Browse Slideshows</h2>
	<div id="slideshows" class="centered lightWrap">
		{% for slideshow in slideshows %}
        {% if slideshow.published %}
		<div class="slideshow">
			<a href="{{ path('slideshow_show', { 'id': slideshow.id }) }}">
				{% if slideshow.slides[0] is defined %}
				<img src="{{ slideshow.slides[0].image.thumbnailUrl }}" alt="{{ slideshow.id }}" /><br />
				<span class="slideshowInfo">{{ slideshow.name }} by {{ slideshow.person.username }}</span>
				{% endif %}
			</a>
		</div>
        {% endif %}
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}
