{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}
{% import "BerkmanSlideshowBundle::macros.html.twig" as macros %}

{% block title %}Spectacle - Page {{ finder.currentPage }} Results for "{{ finder.keyword }}"{% endblock %}

{% block body %}

<div id="finder-results-tabs">
    <ul>
        <li><a href="#image-result-container">IMAGE RESULTS</a></li>
        {% if imageGroups|length > 0 %}
        <li><a href="#image-group-result-container">IMAGE GROUP RESULTS</a></li>
        {% endif %}
    </ul> 
    {% if finder.totalResults > 0 %}
    <form action="{{ path('finder_submit') }}" method="post" {# form_enctype(form) #}>
        <div class="result-container" id="image-result-container">
            <h2>
                {{ finder.totalResults }} results for &quot;{{ finder.keyword }}&quot; &ndash; Page {{ finder.currentPage }} of {{ finder.totalPages }}
            </h2>
            {% if images|length > 0 or imageGroups|length > 0 %}
                {% javascripts 'js/finder.js' %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
                <script>
                    var ajaxUrl  = "{{ path('finder_submit') }}",
                    {% image 'images/loading.gif' %}
                        loadingImage = $('<img style="border:0" src="{{ asset_url }}" alt="Loading" />');
                    {% endimage %}
                </script>
            {% endif %}
            
            {% if images|length > 0 %}
            {{ macros.show_images(images, 'ul', null, 'Add to slideshow', 'results-container') }}
            {% endif %}
            <div class="submit-buttons">
                <span class="left col">
                    {% if finder.currentPage > 1 %}
                    <input type="submit" id="previous-page" name="action" value="&lt; Previous Page" />
                    {% endif %}
                </span>
                <span class="center col">
                    {% if imageGroupId is defined %}
                        <input type="submit" name="action" value="Back" />
                        <input type="hidden" name="imageGroupId" value="{{ imageGroupId }}" />
                    {% endif %}
                    <input type="submit" id="finish-search" name="action" value="Finish" />
                </span>
                <span class="right col">
                    {% if finder.currentPage < finder.totalPages %}
                    <input type="submit" id="next-page" name="action" value="Next Page &gt;" />
                    {% endif %}
                </span>
            </div>
        </div>

        {% if imageGroups|length > 0 %}
        <div class="result-container" id="image-group-result-container">
            <h2>
                {{ finder.totalResults }} results for &quot;{{ finder.keyword }}&quot; &ndash; Page {{ finder.currentPage }} of {{ finder.totalPages }}
            </h2>
            {{ macros.show_imageGroups(imageGroups, 'ul', null, 'Add to slideshow') }}
            <div class="submit-buttons">
                <span class="left col">
                    {% if finder.currentPage > 1 %}
                    <input type="submit" id="previous-page" name="action" value="&lt; Previous Page" />
                    {% endif %}
                </span>
                <span class="center col">
                    {% if imageGroupId is defined %}
                        <input type="submit" name="action" value="Back" />
                        <input type="hidden" name="imageGroupId" value="{{ imageGroupId }}" />
                    {% endif %}
                    <input type="submit" id="finish-search" name="action" value="Finish" />
                </span>
                <span class="right col">
                    {% if finder.currentPage < finder.totalPages %}
                    <input type="submit" id="next-page" name="action" value="Next Page &gt;" />
                    {% endif %}
                </span>
            </div>
        </div>
        {% endif %}
    </form> 
    {% else %}
        <div id="image-container">
            <p>Sorry, but your search did not return any results.</p>
            <a href="{{ path('BerkmanSlideshowBundle_homepage') }}" class="buttoned" title="Back to Home">Back to Home</a>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/finder-show.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
