{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}

{% block body %}
{% form_theme form 'BerkmanSlideshowBundle:Form:images.html.twig' %}
<h2>{{ finder.totalResults }} images for &quot;{{ finder.keyword }}&quot;</h2>

<div class="lightWrap">
<form action="{{ path('finder_submit') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
		{% if finder.currentPage > 1 %}
		<input type="submit" name="action" value="Previous Page" />
		{% endif %}
		<input type="submit" name="action" value="Next Page" />
        <input type="submit" name="action" value="Finish" />
    </p>
</form> 
</div>
{% endblock %}

