{% extends 'BerkmanSlideshowBundle::layout.html.twig' %}
{% import "BerkmanSlideshowBundle::macros.html.twig" as macros %}

{% block body %}
{# form_theme form 'BerkmanSlideshowBundle:Form:images.html.twig' #}
<h2>
{{ finder.totalResults }} images for &quot;{{ finder.keyword }}&quot; &ndash; Page {{ finder.currentPage }} of {{ finder.totalPages }}
</h2>

<div class="lightWrap">
<form action="{{ path('finder_submit') }}" method="post" {# form_enctype(form) #}>
    {# form_widget(form) #}

    {% if images|length > 0 or collections|length > 0 %}
        {% javascripts 'js/finder.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>var ajaxUrl = "{{ path('finder_submit') }}";</script>
    {% endif %}
    
    {% if images|length > 0 %}
    <h3>Images</h3>
    {{ macros.show_images(images, 'show_finderresults_images', 'slide_container', 'Add to slideshow') }}
    {% endif %}

    {% if collections|length > 0 %}
    <h3>Collections</h3>
    {{ macros.show_collections(collections, 'show_finderresults_collections', 'slide_container', 'Add to slideshow') }}
    {% endif %}
        {% if showing == 'collection' and referrer is defined %}
        <input type="submit" name="action" value="Back" />
        <input type="hidden" name="referrer" value="{{ referrer }}" />
        {% endif %}
		{% if finder.currentPage > 1 and showing != 'collection' %}
		<input type="submit" name="action" value="Previous Page" />
		{% endif %}
        {% if finder.currentPage < finder.totalPages and showing != 'collection' %}
		<input type="submit" name="action" value="Next Page" />
        {% endif %}
        <input type="submit" name="action" value="Finish" />
</form> 
</div>
{% endblock %}
